/* sideber css style */
/*======================== manhood WIDGET CSS =========================*/
/* sidebar css */
/* serch widget */
 .blog-left-side {
}
.blog-left-side > div {
	margin-bottom: 42px;
	padding: 0 0 0 25px;
}
 .blog-left-side > div:last-child {
     margin-bottom: 0px;
}
 .blog-left-side h2 {
     margin-bottom: 10px;
     text-transform: uppercase;
}
 .blog-left-side {
}
 .blog-left-side .content {
     padding: 0;
}
 .blog-left-side .push-bottom-large {
     margin-bottom: 0;
}
 .blog-left-side > div:last-child {
     margin-bottom: 0px;
}
 .blog-left-side > aside:last-child {
     margin-bottom: 0px !important;
}
 .blog-left-side .sub-menu li a:hover, .blog-left-side .nav .children li a:hover {
     background: transparent;
     color: #574BED  ;
}
.about_widget_content h4 {
	font-size: 20px;
	padding: 14px 0 13px;
}
.about_widget_content h4 span {
	font-size: 18px;
	font-family: 'Barlow', sans-serif;
	font-weight:400;
	color:#666;
}
.about_widget_social {
	padding-top: 18px;
}
.about_widget_social a{
	display:inline-block; 
}
.about_widget_social a i{
	display:block; 
	width:40px; 
	height:40px; 
	line-height:40px; 
	color:#fff; 
	background:#574BED;
	text-align:center; 
	margin-right:12px;
	border-radius:100%;
}
.about_widget_social a .fa.fa-twitter {
	background: #FD8B67;
}.about_widget_social a .fa.fa-twitter {
	background: #FD8B67;
}.about_widget_social a .fa.fa-pinterest {
	background: #00AFDE;
}.about_widget_social a .fa.fa-linkedin {
	background: #0077B5;
}.about_widget_social a .fa.fa-vimeo {
	background: #C0113C;
}

 .search {
     position: relative;
}
 .search input {
     background: #fff none repeat scroll 0 0;
     border: 0 none;
     height: 54px;
     position: relative;
     width: 100%;
     box-shadow: 0 0 2px rgba(0,0,0,0.20);
}
 .search input[type="text"] {
}
 .search input::-ms-input-placeholder, .search input::-webkit-placeholder, .search input::-moz-placeholder {
     color: #858585;
     font-size: 14px;
}
.search button {
	background: #fff;
	border: 0 none;
	color: #fff;
	font-size: 18px;
	position: absolute;
	right: 0;
	top: 0;
	width: 21%;
	height: 100%;
	background: #574BED;
	border-radius: 0 30px 30px 0;
}
 .search button i {
}
.search input[type="text"] {
	padding-left: 25px;
	border-radius: 30px;
}
/* widget list */
 .widget {
}
.blog-left-side .widget h2 {
	border-bottom: 1px solid #e5e5e5;
	bottom: -1px;
	display: block;
	line-height: 17px;
	margin-bottom: 20px;
	padding-bottom: 16px;
	position: relative;
	text-transform: uppercase;
	font-size: 20px;
}
 .blog-left-side .widget h2::before {
     background: #574BED none repeat scroll 0 0;
     bottom: -1px;
     content: "";
     height: 3px;
     left: 0;
     position: absolute;
     width: 50%;
}
 .blog-left-side .widget h2{
}
 .footer-middle .widget h5 {
     color: #333;
     font-size: 24px;
     text-transform: capitalize;
}
.blog-left-side .widget ul {
	list-style: none;
}
 .blog-left-side .widget ul li {
     margin: 0 0 5px;
     padding-bottom: 5px;
     padding-left: 10px;
     position: relative;
}
#categories-3 span {
	text-align: right;
	float: right;
}
.blog-left-side > .widget > ul > li {
	margin: 0 0 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
	padding-left: 0;
}
 .blog-left-side .widget ul li:last-child {
     margin-bottom: 0;
}
.blog-left-side .widget ul li a {
	color: #666;
}
.ad_thumb {
	position: relative;
}
.ad_thumb img {
	width:100%;
}
.ad_content {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	text-align: center;
	background: rgba(87,75,237, 0.8);
	width: 100%;
	height: 100%;
}
.ad_content_inner {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	padding: 0 30px;
}
.ad_content_inner h4 {
	color: #fff;
	font-size: 35px;
	text-transform: uppercase;
}
/* widget select */
 .widget {
}
 .blog-left-side .widget select {
     width: 100%;
     height: 40px;
     background: #fff;
     border: 1px solid #ddd;
     padding-left: 5px;
}
 .widget .screen-reader-text {
     display: none;
}
 .textwidget select{
     width:100%;
}
/* table css */
 #wp-calendar {
     width: 100%;
}
/* tags */
.tagcloud a {
	color: #606060;
	display: inline-block;
	font-size: 16px;
	margin: 0 2px 13px 0;
	padding: 4px 15px;
	text-align: center;
	background: #574BED;
	color: #fff;
	border-radius: 5px;
}
 .tagcloud a:hover {
     color: #fff !important;
     background: #ff896a;
}
 .widget_categories ul li:hover:before, .widget_archive ul li:hover:before, .widget_categories ul li a:hover, .widget_archive ul li a:hover, .tagcloud a:hover, .r-post-content h3:hover, .r-post-content h3 a:hover {
     color: #574BED  ;
}
 #wp-calendar caption {
     font-size: 14px;
     font-weight: normal;
     margin-bottom: 10px;
     text-align: left;
     text-transform: uppercase;
}
 #wp-calendar {
     font-size: 13px;
}
 #wp-calendar {
     border: 0px solid #e5e5e5;
     margin-bottom: 20px;
     overflow: auto;
     vertical-align: top;
     width: 100%;
     margin: 0;
     color:#333333;
}
 table#wp-calendar td {
     border: 1px solid #e5e5e5;
     color: #444444;
     padding: 5px 10px;
     text-align: center;
     vertical-align: top;
     font-size: 14px;
}
 #wp-calendar th, #wp-calendar td {
     padding: 8px;
}
 table#wp-calendar th {
     border: 1px solid #e5e5e5;
     color: #333333;
     font-size: 13px;
     font-weight: 700;
     padding: 5px 10px;
     text-align: center;
     text-transform: uppercase;
     vertical-align: middle;
}
 table#wp-calendar td#today{
     color:#fff ;
     background-color:#574BED  ;
}
 